form{
    display: flex;
    justify-content: space-between;
    width: 730px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #000;
}
table{
    border-collapse: collapse;
    border: 1px solid #000;
}
.fixed{
    width: 360px;
    table-layout: fixed;
}
.deleteString{
    width: 20px;
}
td{
    border-right: 1px solid #000;
}
.firstStrTab td{
    background-color:#ccc;
}
.oddColorBg{
    background-color: #fffdfd;
}
.evenColorBg{
    background-color: #efefef;
}